<div class="info-part">
  <div class="info">
    <div class="tags">
      <div class="centered-container" style="height: 98%;">
        <% @tags.each do |tag| %>
          <a href="<%= tag.name %>">
            <%= tag.name %>
            (<%= tag.images.length %>)
            <br>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="exhibition-part">
  <div class="images">
    <div class="four-imgs">
      <% if @images[0...4] %>
        <% @images[0...4].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="four-imgs">
      <% if @images[4...8] %>
        <% @images[4...8].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="four-imgs">
      <% if @images[8...12] %>
        <% @images[8...12].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
