<div class="exhibition-part tagged-images">
  <div class="images">
    <div class="five-imgs">
      <% if @images[0...5] %>
        <% @images[0...5].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container tagged-img">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="five-imgs">
      <% if @images[5...10] %>
        <% @images[5...10].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container tagged-img">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="five-imgs">
      <% if @images[10...15] %>
        <% @images[10...15].each do |image| %>
          <a href="<%= image_path(image) %>">
            <div class="image-container tagged-img">
              <%= image_tag url_for(image.image), class: 'image'%>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
