<div class="info-part">
  <div class="info">
    <div class="show-image-user-name ">
      <div class="centered-container" style="text-align: center;">
        <%= @image.user %>
      </div>
    </div>
    <div class="tags">
      <div class="centered-container" style="height: 98%;">
        <% @image.tags.each do |tag|%>
          <%= tag.name %>
          &nbsp;
        <% end %>
      </div>
    </div>
  </div>

  <div class="show-image-description">
    <div class="centered-container" style="height: 98%;">
      <%= @image.description %>
    </div>
  </div>
</div>

<div class="exhibition-part">
  <div style="color:black">
    <h2><%= @image.title %></h2>
  </div>
  <%= image_tag url_for(@image.image), class: 'show-image'%>
</div>
