<!DOCTYPE html>
<html>
  <head>
    <title>Pics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <div class="search">
        <%= form_tag('/search', method: :get) do %>
          <% if params['search'] %>
            <%= text_field_tag 'search', params['search'] %>
          <% else %>
            <%= text_field_tag 'search' %>
          <% end %>
          <div><%= submit_tag 'Поиск' %></div>
        <% end %>

      </div>
      <%= yield %>
    </div>
  </body>
</html>
